.button{
  background-color:#7fc5ab;
  border:black;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px 20px 2px;
  cursor: pointer;
  border-radius:10px;
}
.main{
  text-align: center;
  color: blue;
  font-size: larger;
}